<div class="card mb-5 mb-xl-10 mediaInfoImage" [ngClass]="(settings.currentLang | async) === 'ar' ? 'image_dir_ar rtl-dir' : 'image_dir_en'" style="background-size: auto calc(100% - 40px); background-repeat: no-repeat; background-image: url('assets/media/illustrations/travel.png')">
    <div class="card-body pt-9 pb-0" bis_skin_checked="1"  [ngClass]="{ 'rtl-dir': (settings.currentLang | async) === 'ar'}">
        <!--begin::Details-->
        <div class="d-flex flex-wrap flex-sm-nowrap mb-3" bis_skin_checked="1">
            <!--begin: Pic-->
            <div class="mb-4" bis_skin_checked="1"  [ngClass]="{ 'ms-7': (settings.currentLang | async) === 'ar','me-7': (settings.currentLang | async) === 'en'}">
                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative" bis_skin_checked="1">
                    <img *ngIf="getProfileImage()" alt="Logo" [src]="getProfileImage()" />
                    <span *ngIf="!getProfileImage()" class="symbol-label fs-1 font-weight-bold bg-light text-black">
                      {{ user$.name.substring(0,1) | uppercase }}</span>
                </div>
            </div>
            <!--end::Pic-->
            <!--begin::Info-->
            <div class="flex-grow-1" bis_skin_checked="1">
                <!--begin::Title-->
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2" bis_skin_checked="1">
                    <!--begin::User-->
                    <div class="d-flex flex-column" bis_skin_checked="1">
                        <!--begin::Name-->
                        <div class="d-flex align-items-center mb-2" bis_skin_checked="1">
                            <a class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ user$.name }}</a>
                            
                            
                        </div>
                        <!--end::Name-->
                        <!--begin::Info-->
                        <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 gap-5" bis_skin_checked="1">
                            <a *ngIf="user$.account_type" class="d-flex align-items-center text-gray-800 gap-1">
                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                            <span class="svg-icon svg-icon-4">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M16.5 9C16.5 13.125 13.125 16.5 9 16.5C4.875 16.5 1.5 13.125 1.5 9C1.5 4.875 4.875 1.5 9 1.5C13.125 1.5 16.5 4.875 16.5 9Z" fill="currentColor"></path>
                                    <path d="M9 16.5C10.95 16.5 12.75 15.75 14.025 14.55C13.425 12.675 11.4 11.25 9 11.25C6.6 11.25 4.57499 12.675 3.97499 14.55C5.24999 15.75 7.05 16.5 9 16.5Z" fill="currentColor"></path>
                                    <rect x="7" y="6" width="4" height="4" rx="2" fill="currentColor"></rect>
                                </svg>
                            </span>
                            
                       
                            <span *ngIf="user$.account_type === 'employee'">{{ 'employee' | translate }}</span>
                            <span *ngIf="user$.account_type === 'mega_admin'">{{ 'admin' | translate }}</span>
                
                        </a>
                            <a *ngIf="user$?.user?.city" class="d-flex align-items-center text-gray-800 gap-1 capitalize">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen018.svg-->
                            <span class="svg-icon svg-icon-4 ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="currentColor"></path>
                                    <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            
                            {{ user$?.user?.city }}
                        </a>
                            <a *ngIf="user$?.user?.email" class="d-flex align-items-center text-gray-800 gap-1">
                            <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                            <span class="svg-icon svg-icon-4">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"></path>
                                    <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"></path>
                                </svg>
                            </span>
                            {{ user$?.user?.email }}</a>
                        </div>
                    </div>
             
                </div>
              
                <div *ngIf="user$.account_type === 'student'" class="d-flex flex-wrap flex-stack" bis_skin_checked="1">
                    <div class="d-flex flex-row flex-wra gap-5 flex-grow-1" bis_skin_checked="1">
                        <div class="d-flex flex-wrap" bis_skin_checked="1">
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
             
                                    <div class="fs-2 fw-bold counted">$4,500</div>
                                </div>
                       
                                <div class="fw-semibold fs-6 text-gray-600" bis_skin_checked="1">{{ 'user.cash' | translate }}</div>
                            </div>
        
                        </div>
                        <div  class="d-flex flex-wrap" bis_skin_checked="1">
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
             
                                    <div class="fs-2 fw-bold counted">$4,500</div>
                                </div>
                       
                                <div class="fw-semibold fs-6 text-gray-600" bis_skin_checked="1">{{ 'user.daily_cash' | translate }}</div>
                            </div>
        
                        </div>
                    </div>
      
                </div>
            </div>
        </div>

        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold p-0">
            <!--begin::Nav item-->
            <li class="nav-item mt-2">
                <a class="nav-link text-active-primary ms-0 me-10 py-5" [routerLink]="[ '/profile/overview' ]" routerLinkActive="active">{{ 'profile' | translate }}</a>
            </li>
            
        </ul>
        <!--begin::Navs-->
    </div>
</div>

<app-profile-info></app-profile-info>