.mat-form-field-appearance-fill .mat-form-field-infix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stop{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}