<div class="dashboard-wrapper">
  <!-- <div class="menus mb-20">

    <div matRipple class="cursor-pointer card card-flush h-md-100">
   
      <div
        class="menu card-body d-flex flex-column justify-content-center align-items-center bgi-no-repeat bgi-size-cover bgi-position-x-center m-0 p-0"
        style="
          background-position: 100% 50%;
          background-image: url('assets/media/stock/900x600/42.png');
        "
      >
        <span class="me-2 fs-1 fw-bolder text-black">{{
          "branches2" | translate
        }}</span>
       
      </div>
    </div>
    <div matRipple class="cursor-pointer card card-flush h-md-100">
   
      <div
        class="menu card-body d-flex flex-column justify-content-center align-items-center bgi-no-repeat bgi-size-cover bgi-position-x-center m-0 p-0"
        style="
          background-position: 100% 50%;
          background-image: url('assets/media/stock/900x600/42.png');
        "
      >
        <span class="me-2 fs-1 fw-bolder text-black">{{
          "new_trip" | translate
        }}</span>
       
      </div>
    </div>
    <div matRipple class="cursor-pointer card card-flush h-md-100">
    
      <div
        class="menu card-body d-flex flex-column justify-content-center align-items-center bgi-no-repeat bgi-size-cover bgi-position-x-center m-0 p-0"
        style="
          background-position: 100% 50%;
          background-image: url('assets/media/stock/900x600/42.png');
        "
      >
        <span class="me-2 fs-1 fw-bolder text-black">{{
          "invoices" | translate
        }}</span>
     
      </div>
    </div>


  </div> -->

  <div class="bus-wrap overflow-hidden">
    <app-moving-bus></app-moving-bus>
  </div>
</div>
