.big-text{
    font-size: 3rem !important;
}

.info_field{
    background: #ebebeb;
    padding: 5px 15px;
    margin: 5px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.info_field2{
    background: #f3f3f3 !important;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}