<div
  class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed
    full-h
    
  "
  style="background-image: url('./assets/media/general/login_bg.jpg')"
>
  <!--begin::Conten
    t-->
  <div class="d-flex flex-center flex-column flex-column-fluid p-sm-0 p-lg-10 pb-lg-20 ">
    <a routerLink="/" class="mb-12"
      ><img alt="Logo" src="./assets/media/logos/logo.png" class="h-80px"
    /></a>

    <!--begin::Content body-->
    <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-lg-auto mx-sm-10 width-80">
      <router-outlet></router-outlet>
    </div>
    <!--end::Content body-->
  </div>
  <!--end::Content-->

</div>
