.shadow-large {
    box-shadow:0 1rem 2rem 1rem rgb(0 0 0 / 5%)
}

.no-notifaction{
    height: calc(100vh - 180px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-notifaction-modal{
    height: 100% !important;
    max-height: 500px !important;
}
.no-notifaction-modal img{
    max-width: 300px !important; 
}

.no-notifaction img{
    max-width: 500px;
    opacity: 0.7;
}

.notify-container {
    min-height: calc(100vh - 209px);
  
}

.dark-theme .shadow-large{
    box-shadow: 0 1rem 2rem 1rem rgb(0 0 0 / 0%) !important;
}