<div class="pt-lg-10 mb-10">
    <!--begin::Logo-->
    <h1 class="fw-bolder fs-2qx text-gray-800 mb-7 text-center">{{ 'general.request_has_been_sent' | translate }}</h1>
    <!--end::Logo-->
    <!--begin::Message-->
    <div class="fw-bold fs-3 text-muted mb-15 text-center">{{ 'auth.we_sent_you_password_reset' | translate }}</div>
    <!--end::Message-->
    <!--begin::Action-->
    <div class="text-center">
        <a  [routerLink]="[ '/auth/login' ]" class="btn btn-primary btn-lg fw-bolder text-center">{{ 'auth.sigin_title' | translate }}</a>
    </div>
    <!--end::Action-->
    <!--begin::Action-->
    <div class="text-gray-700 fw-bold fs-4 pt-7 text-center">{{ 'auth.not_recive_email' | translate }}
    <a (click) = "passwordResetTryAgain()" class="text-primary fw-bolder cursor-pointer"> {{ 'general.try_again' | translate }} </a> </div>
    <!--end::Action-->
</div>